body {
  margin: 0;
  font-family: TTLakes;
  background-color: #F8F8F8;
  font-weight:300;
  font-size: 14px;
  width:100%;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  
}

.title {
    display:flex;
    justify-content: space-between;
}
/*Сброс стилей для кнопок*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
    all: unset;
}

h1 {
  font-size:28px;
  font-weight: 700;
}


.header-nav {
  display:flex;
  align-items:center;
  column-gap:20px;
  
}

.header-nav__right-menu {
  display:flex;
  margin-left:auto;
  margin-right:1em;
  align-items:center;
  column-gap:0.7em;
}

.header-nav__left-menu {
  display:flex;
  margin-left:1em;
  align-items:center;
  column-gap:0.7em;
}

.header-nav__menu--screen--1120 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:16px;
  }

.header-nav__title {
  display:flex;
  column-gap:20px;
  
}

.header-nav__title::before {
  content: url("./icons/highlight.png");
}

.section__title--desktop-display--none {
  display:flex;
  column-gap:20px;
}

.section__title--desktop-display--none::before {
  content: url("./icons/highlight.png");
}

.header-nav__button {
  display:flex;
  column-gap:20px;
  margin-right:1.5em;
  
}

.header-nav__item--screen--1120 {
  display:flex;
  column-gap:20px;
  align-items: center;
  font-weight: 500;
  
}

.side-menu__slider-item--screen--desktop,
.side-menu__slider-item--screen--pocket {
  padding:10px 15px;
  font-size:16px;
}

.main-container__about {
  padding-left:0;
  
}

.main-container__read-more-button::before {
  content: url("./icons/icon.png");
}

.main-container__read-more-button {
  display:flex;
  column-gap:15%;
  white-space:nowrap;
}

.main-container__read-more {
  display:flex;
  padding-left:1em;
  
  
}

.main-container {
  display:flex;
  width:100%;
  padding-top:2em;
}

.main-container__about,
.pic-container {
  width:50%;
}

.pic-container {
  margin-right:1em;
}

.main-container__read-more-button--font--medium {
  font-weight: 500;
}

.header-nav__item--img--burger {
background-image: url("./icons/burger.png");
width:40px;
height:40px;
}

.header-nav__item--img--divider {
background-image: url("./icons/divider.png");
width:2px;
height:32px;
}

.header-nav__item--img--group {
background-image: url("./icons/group.png");
width:96px;
height:51px;
}

.header-nav__item--img--call {
background-image: url("./icons/call.png");
width:40px;
height:40px;
}

.header-nav__item--img--chat {
background-image: url("./icons/chat.png");
width:40px;
height:40px;
}

.header-nav__item--img--profile {
background-image: url("./icons/profile.png");
width:40px;
height:40px;
}

.header-nav__item--img--repair {
background-image: url("./icons/repair.png");
width:40px;
height:40px;
}

.header-nav__item--img--checkstatus {
background-image: url("./icons/checkstatus.png");
width:40px;
height:40px;
}


















