body {
  margin: 0;
  font-family: TTLakes;
  background-color: #F8F8F8;
  font-weight:300;
  font-size: 14px;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  
}

.title {
    display:flex;
    justify-content: space-between;
}
/*Сброс стилей для кнопок*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-size:28px;
  font-weight: 700;
}


.header-menu {
  display:flex;
  align-items:center;
  column-gap:20px;
}

.header-menu__right-menu {
  display:flex;
  margin-left:auto;
  margin-right:10px;
  margin-top:10px;
  align-items:center;
  column-gap:10px;
}

.header-menu__left-menu {
  display:flex;
  margin-left:10px;
  margin-top:10px;
  align-items:center;
  column-gap:10px;
}

.header-menu__nav--screen--1120 {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

.header-menu__title {
  display:flex;
  column-gap:30px;
}

.header-menu__title::before {
  content: url("./icons/highlight.png");
}

.section__title--pocket {
  display:flex;
  column-gap:30px;
}

.section__title--pocket::before {
  content: url("./icons/highlight.png");
}

.header-menu__button {
  display:flex;
  column-gap:20px;
  margin-right:30px;
  
}

.header-menu__item--screen--1120 {
  display:flex;
  column-gap:20px;
  align-items: center;
  font-weight: 500;
}

.side-menu__item--screen--desktop,
.side-menu__item--screen--pocket {
  padding:10px 20px;
  font-size:16px;
}

.about__container {
  padding-left:30px;
  
}

.read-more__button::before {
  content: url("./icons/icon.png");
}

.read-more__button {
  display:flex;
  column-gap:5%;
  white-space:nowrap;
}

.read-more {
  display:flex;
  padding-left:30px;
  
}

.main-container {
  display:flex;
  width:100%;
}

.about__container,
.pic__container {
  width:50%;
}

.read-more__button--font--medium {
  font-weight: 500;
}















